
.shopping{
    display: flex;
    flex-direction: column;
	justify-content: center; /* 수평 중앙 정렬 */
	overflow: hidden;
	
    height: 800px;
    width: 1400px;
    margin: 0 auto;
	padding: 30px;
    border: 8px solid transparent; /* 투명 테두리로 공간을 만듦 */
    border-radius: 20px; /* 모서리를 둥글게 설정 */
    background: linear-gradient(white, white) padding-box, /* 내부 배경 */
                linear-gradient(40deg, #8EC5FC 16%, #E0C3FC 82%) border-box; /* 테두리 그라데이션 */
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
}

.shopping_header{
	width: 100%;
	height: 60px;


	font-size: 40px;        /* 글자 크기 40px */
    font-weight: bold;      /* 글자 굵게 */

	display: flex;          /* flexbox 레이아웃 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;    /* 수직 중앙 정렬 */

	background: linear-gradient(90deg, #00DBDE 20%, #FC00FF 85%);
	-webkit-background-clip: text; /* 텍스트에 배경 클립 */
	background-clip: text; /* 표준 속성 */
    color: transparent; /* 텍스트 색상을 투명하게 설정 */
}

.shopping_main{
	display: flex;
	width: 100%;
	flex-grow: 1;
	padding: 30px;

}

.shopping_left_main{
	width: 32%;
	height: 604px;
	margin-right: 3%;

}

.shopping_quadrangle{
	padding: 5px;
	border: 3px solid transparent; /* 투명 테두리로 공간을 만듦 */
    border-radius: 20px; /* 모서리를 둥글게 설정 */
    background: linear-gradient(white, white) padding-box, /* 내부 배경 */
                linear-gradient(40deg, #8EC5FC 16%, #E0C3FC 82%) border-box; /* 테두리 그라데이션 */
}
.shopping_line{
	height: 1px;
	margin-bottom: 4px;
	border: 1px solid transparent; /* 투명 테두리로 공간을 만듦 */
    background: linear-gradient(white, white) padding-box, /* 내부 배경 */
                linear-gradient(40deg, #8EC5FC 16%, #E0C3FC 82%) border-box; /* 테두리 그라데이션 */
}
.shopping_mini_title{
	text-align: center; /* 텍스트를 중앙 정렬 */
    font-size: 24px;    /* 글자 크기 18px */
    font-weight: bold;  /* 글자 굵게 */

	margin-bottom: 10px;
}
.shopping_mini_text{
	text-align: center; /* 텍스트를 중앙 정렬 */
	font-size: 18px;    /* 글자 크기 18px */
	margin-bottom: 10px;
}
.shopping_mini_text_a{
	text-decoration: none; /* 밑줄 제거 */
    color: inherit;
}
.shopping_mini_title2{
	text-align: center; /* 텍스트를 중앙 정렬 */
    font-size: 18px;    /* 글자 크기 18px */
    font-weight: bold;  /* 글자 굵게 */

	margin-bottom: 10px;
}
.shopping_mini_text2{
	text-align: left; /* 텍스트를 중앙 정렬 */
	font-size: 13px;    /* 글자 크기 14px */
	margin-bottom: 10px;
}

.shopping_title {
    text-align: center; /* 텍스트를 중앙 정렬 */
    font-size: 24px;    /* 글자 크기 20px */
    font-weight: bold;  /* 글자 굵게 */

	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}
.shopping_text {
	font-size: 14px;
	padding: 10px;
	line-height: 1.6;
}
.shopping_text_bold{
	font-weight: bold;
	font-style: normal;
}
.shopping_text_i{
	font-size: 13px;
	
	color: gray;
}

.shopping_right_main{
	width: 65%;
	height: 604px;

}
.shopping_reason_img{
	width: 100%;
	height: 100%;
	flex-shrink: 0; /* 이미지가 줄어들지 않도록 설정 */
}